{% load static %} {% for i in userr %}
<div class="main-content px-4 pb-4" style="margin-top: 40px !important">
  <!-- Tabs content -->
  <div class="tab-content" id="ex1-content">
    {% if i.update_status == False %}
    <div
      class="tab-pane fade show active"
      id="ex1-tabs-1"
      role="tabpanel"
      aria-labelledby="ex1-tab-1"
    >
      <!-- Tabs content -->
      <div class="row">
        <div class="col-4 userImg">
          <img src="{{ i.image.url }}" class="w-100" />
          <i class="fa-solid fa-user-lock fs-5 userLock text-light"></i>
        </div>
        <div class="col-8">
          <div class="mx-2">
            <h3 class="username text-dark mb-0">
              {{ i.first_name }} {{ i.last_name }}
            </h3>
            <div class="d-flex mt-2">
              <p class="my-2 text-secondary" style="font-size: 13px">
                Not Verified
              </p>
              <p class="my-2 text-secondary ms-5" style="font-size: 13px">
                Not Subscribed
              </p>
            </div>
            <p class="mb-0 text-secondary" style="font-size: 15px">
              Designation and field of work has not been added
            </p>
            <h6
              class="my-2 d-flex align-items-center text-muted"
              style="font-weight: 600 !important; font-size: 14px !important"
            >
              <span
                class="material-symbols-outlined me-1"
                style="font-size: 12px !important"
              >
                location_on
              </span>
              Current Location :
              <span class="text-secondary ms-1" style="font-size: 13px"
                >Not yet given</span
              >
            </h6>
            <h6
              class="my-2 mb-3 d-flex align-items-center text-muted"
              style="font-weight: 600 !important; font-size: 14px !important"
            >
              <span
                class="material-symbols-outlined me-1"
                style="font-size: 12px !important"
              >
                add_location_alt
              </span>
              Home Town :
              <span class="text-secondary ms-1" style="font-size: 13px"
                >Not yet given</span
              >
            </h6>
            <div class="d-md-flex align-items-center">
              <a
                class="text-decoration-none text-light btn rounded-4 px-4 p-2 fw-normal rounded-pill"
                style="background-color: #bfbfc0; font-size: 13px"
              >
                Connect
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr class="mb-0" />
      <div class="row mt-3">
        <p class="text-center text-muted mb-0" style="font-size: 14px">
          Hi {{i.first_name}} your profile seems incomplete
        </p>
        <p class="text-center text-muted mb-0" style="font-size: 14px">
          Please take a moment to complete your profile by
          <a
            href="{% url 'profile_data_form' i.id %}"
            class="text-danger"
            style="text-decoration: underline"
            >Clicking here</a
          >
        </p>
        <p
          class="text-center text-muted mb-0"
          style="font-size: 15px; font-weight: 600"
        >
          Don't worry,your profile will be published once all the mandatory
          information is provided and verify by veriprofile as per "Standard
          profile criteria".
        </p>
        <p class="text-center text-muted mb-0" style="font-size: 14px">
          To know all the mandatory information needed to publish your profile ,
          <a
            href="{% url 'profile_data_form' i.id %}"
            class="text-danger"
            style="text-decoration: underline"
            >Click here</a
          >
        </p>
        <p class="text-center text-muted mb-0" style="font-size: 14px">
          Thank you for your cooperation.
        </p>
      </div>
    </div>
    {% else %} {% for user in userr %}
    <div
      class="tab-pane fade show active"
      id="ex1-tabs-1"
      role="tabpanel"
      aria-labelledby="ex1-tab-1"
    >
      <!-- Tabs content -->
      <div class="row">
        <div class="col-4 userImg">
          <img src="{{ i.image.url }}" class="w-100" />
        </div>
        <div class="col-8">
          <div class="mx-2">
            <h3 class="username mb-0">
              {{ i.first_name }} {{i.middle_name}} {{ i.last_name }}
            </h3>
            <div class="d-flex my-2">
              <div>
                {% if i.status == 'Verified' %}
                <h6 class="fs-4 mt-1 username">
                  <img
                    src="{% static 'verified badges.png' %}"
                    style="width: 140px; cursor: pointer !important"
                    data-mdb-toggle="modal"
                    data-mdb-target="#exampleModalstatus"
                  />
                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="exampleModalstatus"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Verification Status : {{i.status}}
                          </h5>
                          <button
                            type="button"
                            class="btn-close me-1"
                            data-mdb-dismiss="modal"
                            aria-label="Close"
                            style="width: 0px !important"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div>
                            <div>
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Basic Details {% if i.is_basic_details_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Address {% if i.is_address_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Qualification {% if i.is_qualification_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Occupation {% if i.is_occupation_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Experience {% if i.is_experience_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Honors {% if i.is_honors_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Skillset {% if i.is_skillsets_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Proof of Work {% if i.is_proofofwork_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Social Work {% if i.is_socialwork_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Innovations {% if i.is_innovations_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Program Attended {% if i.is_program_attend_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-mdb-dismiss="modal"
                          >
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </h6>
                {% else %}
                <h6 class="fs-4 mt-1 username">
                  <img
                    src="{% static 'Non-verified badge.png' %}"
                    class=""
                    style="width: 180px; cursor: pointer !important"
                    data-mdb-toggle="modal"
                    data-mdb-target="#exampleModalstatus2"
                  />
                  <!-- Modal2 -->
                  <div
                    class="modal fade"
                    id="exampleModalstatus2"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Verification Status : {{i.status}}
                          </h5>
                          <button
                            type="button"
                            class="btn-close me-1"
                            data-mdb-dismiss="modal"
                            aria-label="Close"
                            style="width: 0px !important"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div>
                            <div>
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Basic Details {% if i.is_basic_details_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Address {% if i.is_address_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Qualification {% if i.is_qualification_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Occupation {% if i.is_occupation_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Experience {% if i.is_experience_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Honors {% if i.is_honors_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Skillset {% if i.is_skillsets_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Proof of Work {% if i.is_proofofwork_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Social Work {% if i.is_socialwork_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Innovations {% if i.is_innovations_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                              <hr class="my-1" />
                              <h6
                                class="d-flex justify-content-between align-items-center text-dark"
                                style="font-size: 13px !important"
                              >
                                Program Attended {% if i.is_program_attend_verified %}<i
                                  class="fa-solid fa-circle-check text-success fs-6"
                                ></i>
                                {% else %}<i
                                  class="fa-solid fa-circle-xmark text-danger fs-6"
                                ></i
                                >{% endif %}
                              </h6>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-mdb-dismiss="modal"
                          >
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </h6>
                {% endif %}
              </div>

              <div class="d-flex ms-3">
                {% for t in userlevels %}
                <div class="d-flex align-items-center">
                  <img src="{{ t.level.image.url }}" alt="" />
                  <p class="fs-6 fw-bold mb-0 ms-2 me-2">{{ t.level.name }}</p>
                  <div class="dropdown">
                    <i
                      class="fa-solid fa-ellipsis-vertical"
                      type="button"
                      id="dropdownMenuButtonellipsis"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false"
                    >
                    </i>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <li>
                        <a
                          class="dropdown-item bg-danger text-light"
                          href="{% url 'levels' i.status i.first_name i.unique_id %}"
                          >Upgrade</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                {% empty %}
                <div class="d-flex align-items-center">
                  <img src="{% static '1 Smart.svg' %}" alt="" />
                  <p class="fs-6 fw-bold mb-0 ms-2 me-2">Smart</p>
                  <div class="dropdown">
                    <i
                      class="fa-solid fa-ellipsis-vertical"
                      type="button"
                      id="dropdownMenuButtonellipsis"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false"
                    >
                    </i>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <li>
                        <a
                          class="dropdown-item bg-danger text-light"
                          href="{% url 'levels' i.status i.first_name i.unique_id %}"
                          >Upgrade</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <h6
              class="my-3 d-flex align-items-center"
              style="font-weight: 500 !important"
            >
              <span
                class="material-symbols-outlined me-1"
                style="font-size: 15px"
              >
                location_on
              </span>
              Current Location :
              <span class="text-primary ms-1" style="font-size: 14px"
                >{{ i.location }}</span
              >
            </h6>
            {% if i.home_country %}
            <h6
              class="my-3 mb-4 d-flex align-items-center"
              style="font-weight: 500 !important"
            >
              <span
                class="material-symbols-outlined me-1"
                style="font-size: 15px"
              >
                add_location_alt
              </span>
              Home Town :
              <span class="text-primary ms-1" style="font-size: 14px"
                >{{ i.home_country }} {{ i.home_city }}</span
              >
            </h6>
            {% endif %}

            <div class="d-md-flex align-items-center">
              <a
                href=""
                class="text-decoration-none text-light btn rounded-4 px-3 p-2 fw-normal rounded-pill"
                style="background-color: #0024d3; font-size: 12px"
                target="_blank"
              >
                Connect
              </a>
              <a
                href="{% url 'update_profile' i.id %}"
                class="text-decoration-none d-flex align-items-center btn btn-outline-secondary rounded-4 px-3 p-1 rounded-pill mx-2"
                style="
                  font-size: 12px;
                  border: 1px solid gray;
                  font-weight: 600;
                  color: rgb(104, 102, 102) !important;
                "
              >
                <span class="material-symbols-outlined me-2 fs-4">
                  edit_note
                </span>
                <span>Edit Profile</span>
              </a>
              <a
                href=""
                class="text-decoration-none text-light btn rounded-4 px-3 p-2 fw-normal rounded-pill"
                style="background-color: #ff5f1f; font-size: 12px"
                target="_blank"
              >
                Recommendation
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr class="mb-0" />
      <div class="row">
        <div class="col-12">
          <div class="row row-cols-md-4 row-cols-1 g-3 mb-3">
            <div class="col">
              <p
                class="mb-0 mt-2"
                style="font-size: 14px !important; font-weight: 600 !important"
              >
                <i class="fa-solid fa-hand-holding-heart text-primary fs-5"></i>
                <span class="text-success">160+ </span>Endorsement
              </p>
            </div>
            <div class="col">
              <p
                class="mb-0 mt-2 ms-3"
                style="font-size: 14px !important; font-weight: 600 !important"
              >
                <i class="fa-brands fa-facebook text-primary fs-5"></i>
                <span class="text-success">140 </span>Followers
              </p>
            </div>
            <div class="col">
              <p
                class="mb-0 mt-2"
                style="font-size: 14px !important; font-weight: 600 !important"
              >
                <i class="fa-brands fa-linkedin text-primary fs-5"></i>
                <span class="text-success"> 50+ </span> Followers
              </p>
            </div>
            {% if i.status == 'Verified' %}
            <div class="col">
              <p
                class="mb-0 mt-2"
                style="
                  font-size: 13px !important;
                  font-weight: 600 !important;
                  color: #ff1694 !important;
                "
              >
                Verified Elite Profile
              </p>
            </div>
            {% endif %}
          </div>
          <hr class="my-1" />
          <div class="my-3 d-flex align-items-center text-center">
            <div class="text-center">
              <a href="{% url 'pdf' %}"
                ><i
                  class="fa-solid fa-cloud-arrow-down fs-5 bg-primary text-light p-3 rounded-circle me-2"
                ></i>
                <p class="mb-0 fw-bold text-primary fs-6 text-center">PDF</p>
              </a>
            </div>
            <div class="text-center">
              <a href="/"
                ><i
                  class="fa-brands fa-whatsapp fs-5 bg-success text-light p-3 rounded-circle mx-2"
                ></i>
                <p class="mb-0 fw-bold text-success fs-6 text-center">Chat</p>
              </a>
            </div>
            <div class="text-center">
              <a href="/"
                ><i
                  class="fa-solid fa-share-nodes fs-5 bg-danger text-light p-3 rounded-circle mx-2"
                ></i>
                <p class="mb-0 fw-bold text-danger fs-6 text-center">Share</p>
              </a>
            </div>
            <div class="text-center">
              <a href="/"
                ><i
                  class="fa-solid fa-user-shield fs-5 bg-warning text-light p-3 rounded-circle mx-2"
                ></i>
                <p class="mb-0 fw-bold text-warning fs-6 text-center">
                  Endorse
                </p>
              </a>
            </div>
            <div class="text-center"></div>
          </div>
          <hr class="my-1" />

          {% if qualifications %}
          <div class="username fs-5">
            Qualification {% for q in qualifications %}
            <p class="introPara fw-normal text-muted my-2">
              {{ q.degree }}
              <span class="text-dark">in {{q.specialization}}</span> from
              <span class="introPara text-primary">{{q.college}}</span>
              {% endfor %}
            </p>
          </div>
          {% endif %}

          <div class="username fs-5">
            {% for a in advance %}
            <p class="introPara fw-normal text-muted">
              <span class="text-dark">{{a.name}}</span>
              from
              <span class="introPara text-primary">{{a.details}}</span>
            </p>
            {% endfor %} {% if experience_data %}
            <div class="username fs-5 my-4">Career</div>
            {% for e in experience_data %}
            <div class="row my-4 me-lg-3">
              <div class="col-md-8">
                <div class="row d-flex align-items-center">
                  <div class="col-2">
                    <p
                      class="bg-danger mb-0"
                      style="width: 60px !important; height: 60px !important"
                    ></p>
                  </div>
                  <div class="col-10">
                    <p
                      class="fw-normal text-dark mb-0"
                      style="font-size: 14px !important"
                    >
                      {{e.ex_job_title}} at
                      <span class="text-primary"> {{e.ex_company_name}} </span>
                    </p>

                    <p
                      class="fw-bold text-dark mb-1"
                      style="font-size: 14px !important"
                    >
                      {{e.ex_job_location}}
                    </p>
                    <p
                      class="fw-bold text-dark mb-1"
                      style="font-size: 13px !important"
                    >
                      <span
                        class="text-secondary fw-normal"
                        style="font-size: 13px !important"
                        >Industry :
                      </span>
                      {{e.ex_job_industry}}
                    </p>
                    <div
                      class="mb-0 d-flex align-items-center"
                      style="
                        font-size: 13px !important;
                        font-weight: 600 !important;
                      "
                    >
                      <div>
                        <i
                          class="fa-solid fa-hand-holding-heart text-primary fs-6"
                        ></i>
                      </div>
                      <div class="profile-pictures ms-4">
                        <div class="profile-picture">
                          <img src="{% static 'user2.jpg' %}" alt="Profile 1" />
                        </div>
                        <div class="profile-picture">
                          <img src="{% static 'user1.jpg' %}" alt="Profile 2" />
                        </div>
                        <div class="profile-picture">
                          <img src="{% static 'girl.png' %}" alt="Profile 3" />
                        </div>
                        <div class="profile-picture">
                          <img src="{% static 'girl.jpg' %}" alt="Profile 3" />
                        </div>
                      </div>
                      <span class="text-success">160+ </span>Endorsements
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pe-0 d-flex justify-content-between">
                <div>
                  <p
                    class="text-muted mb-0 me-2"
                    style="font-size: 12px !important; font-weight: 600"
                  >
                    Joining : {{e.ex_joining_date}}
                  </p>
                  <p
                    class="text-muted me-2"
                    style="font-size: 12px !important; font-weight: 600"
                  >
                    Quit : {{e.ex_quit_date}}
                  </p>
                </div>
                <div class="">
                  <div
                    class="text-light p-2"
                    style="
                      font-size: 10px;
                      background: gray;
                      height: 55px !important;
                      width: 55px !important;
                    "
                  >
                    {% if e.total_experience_years > 0 %}
                    <span class="total-experience-unit"
                      >{{ e.total_experience_years }} yr{% if e.total_experience_years > 1 %}s{% endif %}</span
                    >
                    {% endif %}
                    <br />
                    {% if e.total_experience_months > 0 %}
                    <span class="total-experience-unit"
                      >{{ e.total_experience_months }} mo{% if e.total_experience_months > 1 %}s{% endif %}</span
                    >
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %} {% endif %}
          </div>

          {% if skills %}
          <div class="username fs-5 my-4">
            Skills {% for s in skills %}
            <div class="row">
              <div class="col-md-7 pe-0">
                <p
                  class="text-dark fw-normal mb-1"
                  style="font-size: 15px !important"
                >
                  {{s.skill_name}} <span class="text-secondary mx-1">in</span>
                  <span
                    class="fw-bold introPara text-primary"
                    style="font-size: 16px !important"
                  >
                    {{s.skill_filed}}
                  </span>
                </p>
              </div>
              <div class="col-md-5">
                <p
                  class="text-muted mb-0"
                  style="font-size: 15px !important; font-weight: 600"
                >
                  Approved by
                  <img
                    src="{% static 'profile1.jpg' %}"
                    class="rounded-circle"
                    height="19"
                  />
                  <span class="text-primary">Sunita Williams</span>, HR
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %} {% if awards %}
          <div class="username fs-5 my-4">
            Awards {% for a in awards %}
            <div class="row">
              <div class="col-md-12 pe-0">
                <p
                  class="text-dark fw-normal mb-1"
                  style="font-size: 16px !important"
                >
                  {{a.honors}} of {{a.awards_name}} by
                  <span
                    class="fw-bold introPara text-primary"
                    style="font-size: 16px !important"
                  >
                    {{a.awards_given_by}}
                  </span>
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
          <div class="username fs-5 my-4">
            Recommendations
            <div class="row">
              <div class="col-md-12 pe-0">
                <p
                  class="text-dark fw-normal mb-1"
                  style="font-size: 17px !important"
                >
                  <i class="fa-solid fa-quote-left"></i> Amitabh is a top rung
                  IT professional, who is now a proven leader and builder of
                  high-performance teams which have delivered superior results
                  consistently under his inspirational leadership.
                </p>
                <p
                  class="fw-normal text-primary mt-2"
                  style="font-size: 17px !important"
                >
                  <img
                    src="{% static 'girl.jpg' %}"
                    class="rounded-circle border border-dark"
                    height="24"
                  />
                  Sunita Kalbhor
                  <span class="text-muted">, CEO,</span> Bhabha Tech
                </p>
              </div>
            </div>
          </div>
          {% if works %}
          <div class="username fs-5 my-4">
            Proof of work {% for w in works %}
            <div class="row">
              <div class="col-md-12 pe-0">
                <p
                  class="text-dark fw-normal mb-1"
                  style="font-size: 15px !important"
                >
                  {{w.proof_of_work}} at
                  <a href="{{w.proof_of_work_input}}"
                    >{{w.proof_of_work_input}}</a
                  >
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %} {% if media %}
          <div class="username fs-5 my-4">
            Media References {% for m in media %}
            <div class="row">
              <div class="col-md-12 pe-0">
                <p
                  class="text-dark fw-normal mb-1"
                  style="font-size: 16px !important"
                >
                  {{m.name}} at
                  <a href="{{m.link}}">{{m.link}}</a>
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}  {% if social_work %}
          <div class="username fs-5 my-4">
            Social Work {% for s in social_work %}
            <div class="row">
              <div class="col-md-12 pe-0">
                <p
                  class="text-dark fw-normal mb-1"
                  style="font-size: 16px !important"
                >
                  <span class="fw-bold">{{s.social_work}}</span> for
                  {{s.social_work_input}}
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %} {% if acts %}
          <div class="username fs-5 my-4">
            Other Activities {% for a in acts %}
            <div class="row">
              <div class="col-md-12">
                <ol
                  class="text-dark fw-normal mb-1"
                  style="font-size: 16px !important"
                >
                  <li>
                    Attended {{a.act_type}} for {{a.act_title}} on
                    {{a.act_date}}, click here
                    <a href="{{a.act_link}}">{{a.act_link}}</a> for more
                    details.
                  </li>
                </ol>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}
    <div
      class="tab-pane fade"
      id="ex1-tabs-2"
      role="tabpanel"
      aria-labelledby="ex1-tab-2"
    >
      Tab 2 content
    </div>
    <div
      class="tab-pane fade"
      id="ex1-tabs-3"
      role="tabpanel"
      aria-labelledby="ex1-tab-3"
    >
      Tab 3 content
    </div>
  </div>
</div>
{% endfor %}
